<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= link_to subject.name , subject_path(subject.id) %></td>
        <% if current_user.admin %>
          <td><%= link_to "Edit", edit_subject_path(subject.id) %></td>
          <td><%= link_to "Delete",subject_path(subject), :controller => :subject, :action => :destroy, :method => :delete,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %></td>
        <%end%>
    <% end %>
      </tr>
  </tbody>
</table>
